:root{
    --very-light-pink: #C7C7C7;
    --input-field-error: #d22c2c;
    --hospital-green: #2ECC71;
    --white: #FFFFFF;
    --black: #2E2E2E;
    --sm: 14px;
    --md: 16px;
    --lg: 18rem;

}

html{
    font-size: 6.25%;
}

body{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inactive{
    display: none;
}

/*---------------------------------------------*/
/* HEADER
/*---------------------------------------------*/

header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--very-light-pink);
    padding: 10rem;
    align-items: center;
    justify-content: space-between;
}

header p{
    margin-right: 20rem;
}

header section{
    display: flex;
    align-items: center;
}

header section img{
    width: 50rem;
    margin-right: 12rem;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 28rem;
    margin-left: 100rem;
}

/*---------------------------------------------*/
/* MAIN-LEFT
/*---------------------------------------------*/

.container-info{
    width: 85%;
    padding: 25rem;
    background-color: var(--white);
    border-radius: 16rem;
    box-shadow: #949090 1px 0px 5px;
    text-align: left;
}

.container-info img{
    width: 300rem;
    float: right;
    border-radius: 16rem;
    margin-left: 20rem;
}

.container-info div p{
    line-height: 24rem;
    font-size: 17px;
}

.title-info{
    text-align: center;
    padding: 25rem;
    font-size: 32rem;
    font-weight: 700;
    margin-bottom: 25rem;
}

/*---------------------------------------------*/
/* MAIN-RIGHT
/*---------------------------------------------*/

.container-form{
    width: 70%;
    padding: 25rem;
    background-color: var(--black);
    border-radius: 16rem;
    box-shadow: #2E2E2E 1px 0px 5px;
    color: var(--white);
    font-weight: bold;
    margin-left: 100rem;
}

.container-form form{
    width: 100%;
}

.container-form form label{
    display: block;
    margin-bottom: 8rem;
}

.container-form form input{
    width: 100%;
    padding: 8rem;
    margin-bottom: 8rem;
    border: none;
    border-radius: 5rem;
    font-size: 18rem;
}

#interest-rate{
    width: 60%;
    text-align: center;
}

#initial-investment{
    width: 60%;
    text-align: center;
}

#time-year {
    width: 49.3%;
}

#time-month {
    width: 49.5%;
}

#period {
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: 18rem;
    padding: 8rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    width: 38.8%;
    text-align: center;
    font-weight: 500;
}

#currency{
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: 18rem;
    padding: 8rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    width: 38.8%;   
    text-align: center; 
    font-weight: 900;
}

.btn-calculate{
    padding: 16rem;
    border: none;
    border-radius: 8rem;
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 12rem;
}

.error {
    color: var(--input-field-error);
    text-align: center;
    margin-top: 4rem;
}

/* RESULTS*/

.container-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid var(--white);
    border-radius: 8rem;
    margin-top: 16rem;
    font-size: 12rem;
    padding: 10rem;
    gap: 8rem;
}

.number {
    font-size: 24rem;
    font-weight: bold;
}

@media (min-width: 970px) and (max-width: 1300px){
    #period {
        width: 100%;
    }

    #currency {
        width: 100%;
    }

    #interest-rate{
        width: 100%;
    }
    
    #initial-investment{
        width: 100%;
    }

    #time-year{
        width: 100%;
    }

    #time-month{
        width: 100%;
    }    
}

@media (max-width: 970px){
    main{
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .container-info{
        width: 100%;
        margin: 0;
    }

    .container-info img{
        margin: 0 0 16rem 0;
        width: 100%;
    }

    /*form*/

    .container-form{
        width: 100%;
        margin: 10rem 0 0 0;
    }


    .container-form div {
        margin-bottom: 20rem;
    }
}

@media (max-width: 430px){
    #period {
        width: 100%;
    }

    #currency {
        width: 100%;
    }

    #interest-rate{
        width: 100%;
    }
    
    #initial-investment{
        width: 100%;
    }

    #time-year{
        width: 100%;
    }

    #time-month{
        width: 100%;
    }
}